{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
{% endblock %}
{% block body %}
	<div class="wrap">
		<div class="container mt-4">
			<div class="row">
				<div class="col-sm">
					<div>Restaurant :</span>
					{{ id.nom }}</div>
				<div>Adresse :
					{{ id.adresse }}</div>
				<div>Ville :
					<a href="{{path('single-ville', {id: id.ville.id})}}">{{ id.ville.nom }}</a>
				</div>
				<div>Propriétaire :
					<p>Nom Prénom :
						{{ id.proprietaire.nom }}
						/
						{{ id.proprietaire.prenom }}<br>Né : le
						{{ id.proprietaire.dateNaissance|date("m/d/Y") }}</p>
				</div>
				<div>
					<img src="{{ id.image }}" alt="">
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
